PORT=3000

# Database credentials
DB_USERNAME=root
DB_PASSWORD=your_password_here

# Database names
DB_NAME_DEV=FlightsDB
DB_NAME_TEST=database_test
DB_NAME_PROD=database_prod

# Hosts
DB_HOST_DEV=127.0.0.1
DB_HOST_TEST=127.0.01
DB_HOST_PROD=production_host_url

# Ports (only if needed, e.g., production)
DB_PORT_PROD=46146

# Optional: Dialect (default mysql)
DB_DIALECT=mysql
